.image-button {
    width: 30px;
}

.container {
    position: relative;
    height: 798px;
    width: 1417px;
}

.eettafel {
    background-color: #29e;
}

.danspaal {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    color: white;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.draggable {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 50%;
    margin: 0px;
    padding: 10px;
    color: white;
    transform: rotate(0);
    transform-origin: center center;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

#eetzaal {
    z-index: 0
}